.container {
    margin: 10px 10px 10px 10px;
    overflow: auto;
}
.announcement {
    float: left;
    height: 300px;
    width: 244px;
    margin: 10px 20px 20px 10px;
    border: 2px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    border-radius: 5px;
    background-color: snow;
}
.announcement:hover {
    box-shadow: 0 0 0 4px black, 0 0 0 8px #e3e1ef;
}
.announcement-link {
    text-decoration: none;
    color: inherit;
}
.announcement-image {
    width: 240px;
    height: 240px;
    border: 2px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    border-radius: 5px;
}
.announcement-title {
    color: black;
    font-size: 20px;
    font-weight: lighter;
    margin: 0 0 0 15px;
}
.announcement-price {
    color: black;
    font-size: 25px;
    font-weight: bold;
    float: right;
    margin: 0 15px 0 0;
}